---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Skill from "@/components/Skill.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .prose {
        text-align: center;
      }
      .avatar {
        border-radius: 50%;
      }
      .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section class="prose">
        <h1>👋 Hello, I'm Theoklitos!</h1>
        <Image
          class={"avatar"}
          width={400}
          height={400}
          src="/theoklitos-avatar-1.jpg"
          alt="Me"
          loading={"eager"}
        />
        <h3>What Am I?</h3>
        <p>Software Engineer with front-end web development orientation.</p>
        <p>
          I participate in analysis, design and implementation of the new
          features for company's web applications, maintaining at the same time
          the existing ones.
        </p>
        <p>
          I'm a continuous learner of design patterns and architectures with
          cutting-edge technologies, focusing on quality and delivering on time.
        </p>

        <div class="skills">
          <Skill
            title="Astro"
            url="https://astro.build/"
            logo="/logos/astro-icon-dark.svg"
          />
          <Skill title="Lit" url="https://lit.dev/" logo="/logos/lit-1.svg" />
          <Skill
            title="React"
            url="https://react.dev/"
            logo="/logos/react-2.svg"
          />
          <Skill
            title="TypeScript"
            url="https://www.typescriptlang.org/"
            logo="/logos/typescript.svg"
          />
          <Skill
            title="JavaScript"
            url="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
            logo="/logos/javascript-1.svg"
          />
          <Skill
            title="HTML"
            url="https://developer.mozilla.org/en-US/docs/Web/HTML"
            logo="/logos/html-1.svg"
          />
          <Skill
            title="CSS"
            url="https://developer.mozilla.org/en-US/docs/Web/CSS"
            logo="/logos/css-3.svg"
          />
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
