---
// Tech stack icons - using SVGs for consistency
const technologies = [
  { icon: "react", name: "React" },
  { icon: "typescript", name: "TypeScript" },
  { icon: "vue", name: "Vue" },
  { icon: "nodejs", name: "Node.js" },
  { icon: "astro", name: "Astro" },
  { icon: "tailwind", name: "Tailwind CSS" },
  { icon: "git", name: "Git" },
  { icon: "docker", name: "Docker" },
  { icon: "nextjs", name: "Next.js" },
  { icon: "python", name: "Python" },
];

// Duplicate for seamless loop
const allTechnologies = [...technologies, ...technologies];
---

<section class="section" id="skills">
  <div class="container-wide">
    <!-- Section Header -->
    <div class="section-header reveal-on-scroll">
      <span class="section-label">Tech Stack</span>
      <h2 class="section-title">Technologies I Work With</h2>
      <p class="section-description">
        A curated selection of tools and technologies I use to build modern,
        scalable web applications.
      </p>
    </div>

    <!-- Marquee Container -->
    <div class="marquee-container reveal-on-scroll">
      <div class="marquee">
        <div class="marquee-content">
          {
            allTechnologies.map((tech) => (
              <div class="tech-card">
                <div class="tech-icon">
                  {tech.icon === "react" && (
                    <svg
                      fill="currentColor"
                      viewBox="-11.5 -10.23174 23 20.46348"
                    >
                      <circle cx="0" cy="0" fill="currentColor" r="2.05" />
                      <g fill="none" stroke="currentColor" stroke-width="1">
                        <ellipse rx="11" ry="4.2" />
                        <ellipse rx="11" ry="4.2" transform="rotate(60)" />
                        <ellipse rx="11" ry="4.2" transform="rotate(120)" />
                      </g>
                    </svg>
                  )}
                  {tech.icon === "typescript" && (
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361 5.093 5.093 0 0 0-.717-.26 5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085 4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164 5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089 2.12 2.12 0 0 0-.537-.5 5.597 5.597 0 0 0-.807-.444 27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629 7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z" />
                    </svg>
                  )}
                  {tech.icon === "nodejs" && (
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M11.998,24c-0.321,0-0.641-0.084-0.922-0.247l-2.936-1.737c-0.438-0.245-0.224-0.332-0.08-0.383 c0.585-0.203,0.703-0.25,1.328-0.604c0.065-0.037,0.151-0.023,0.218,0.017l2.256,1.339c0.082,0.045,0.197,0.045,0.272,0l8.795-5.076 c0.082-0.047,0.134-0.141,0.134-0.238V6.921c0-0.099-0.053-0.192-0.137-0.242l-8.791-5.072c-0.081-0.047-0.189-0.047-0.271,0 L3.075,6.68C2.99,6.729,2.936,6.825,2.936,6.921v10.15c0,0.097,0.054,0.189,0.139,0.235l2.409,1.392 c1.307,0.654,2.108-0.116,2.108-0.89V7.787c0-0.142,0.114-0.253,0.256-0.253h1.115c0.139,0,0.255,0.112,0.255,0.253v10.021 c0,1.745-0.95,2.745-2.604,2.745c-0.508,0-0.909,0-2.026-0.551L2.28,18.675c-0.57-0.329-0.922-0.945-0.922-1.604V6.921 c0-0.659,0.353-1.275,0.922-1.603l8.795-5.082c0.557-0.315,1.296-0.315,1.848,0l8.794,5.082c0.57,0.329,0.924,0.944,0.924,1.603 v10.15c0,0.659-0.354,1.273-0.924,1.604l-8.794,5.078C12.643,23.916,12.324,24,11.998,24z M19.099,13.993 c0-1.9-1.284-2.406-3.987-2.763c-2.731-0.361-3.009-0.548-3.009-1.187c0-0.528,0.235-1.233,2.258-1.233 c1.807,0,2.473,0.389,2.747,1.607c0.024,0.115,0.129,0.199,0.247,0.199h1.141c0.071,0,0.138-0.031,0.186-0.081 c0.048-0.054,0.074-0.123,0.067-0.196c-0.177-2.098-1.571-3.076-4.388-3.076c-2.508,0-4.004,1.058-4.004,2.833 c0,1.925,1.488,2.457,3.895,2.695c2.88,0.282,3.103,0.703,3.103,1.269c0,0.983-0.789,1.402-2.642,1.402 c-2.327,0-2.839-0.584-3.011-1.742c-0.02-0.124-0.126-0.215-0.253-0.215h-1.137c-0.141,0-0.254,0.112-0.254,0.253 c0,1.482,0.806,3.248,4.655,3.248C17.501,17.007,19.099,15.91,19.099,13.993z" />
                    </svg>
                  )}
                  {tech.icon === "astro" && (
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M8.347 20.747c-1.473-.247-2.63-1.355-2.947-2.828-.079-.36-.064-.984.031-1.374.169-.719.485-1.301.996-1.82.419-.426.909-.737 1.527-.979.372-.149.598-.191 1.205-.254 1.449-.152 2.503-.513 3.397-1.163.459-.331.869-.737 1.213-1.205.098-.135.184-.247.188-.247.004 0-.011.09-.035.2-.079.379-.12.87-.103 1.26.042.942.318 1.744.847 2.452.206.284.587.674.905.929.843.673 1.605 1.613 2.057 2.542.585 1.215.725 2.596.393 3.884-.073.28-.231.752-.286.858-.016.031-.016.027.109-.162.475-.737.738-1.579.779-2.5.015-.339-.01-.627-.083-.96-.183-.848-.616-1.62-1.26-2.242-.275-.265-.665-.562-1.02-.779-.968-.597-1.919-1.327-2.623-2.014-.621-.606-1.135-1.344-1.475-2.115-.167-.38-.289-.747-.396-1.196-.086-.36-.135-.66-.168-1.04-.022-.255-.025-.848-.005-1.064.062-.668.206-1.248.459-1.84.49-1.136 1.314-2.045 2.429-2.678.157-.087.302-.164.322-.171.051-.017.054-.003.017.082-.127.294-.259.77-.331 1.202-.055.333-.07.479-.07.789 0 .583.09 1.061.305 1.603.281.699.697 1.296 1.267 1.823.268.249.829.676 1.453 1.105 1.143.79 1.881 1.447 2.48 2.21.962 1.23 1.478 2.715 1.478 4.272 0 1.251-.26 2.373-.788 3.411-.514 1.013-1.266 1.869-2.21 2.515-1.044.712-2.243 1.145-3.53 1.276-.237.024-.821.037-1.058.024z" />
                    </svg>
                  )}
                  {tech.icon === "tailwind" && (
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M12.001,4.8c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 C13.666,10.618,15.027,12,18.001,12c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C16.337,6.182,14.976,4.8,12.001,4.8z M6.001,12c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 c1.177,1.194,2.538,2.576,5.512,2.576c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C10.337,13.382,8.976,12,6.001,12z" />
                    </svg>
                  )}
                  {tech.icon === "git" && (
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M23.546 10.93L13.067.452c-.604-.603-1.582-.603-2.188 0L8.708 2.627l2.76 2.76c.645-.215 1.379-.07 1.889.441.516.515.658 1.258.438 1.9l2.652 2.66c.645-.223 1.387-.078 1.9.435.721.72.721 1.884 0 2.604-.719.719-1.881.719-2.6 0-.539-.541-.674-1.337-.404-1.996L12.86 8.955v6.525c.176.086.342.203.488.348.713.721.713 1.883 0 2.6-.719.721-1.889.721-2.609 0-.719-.719-.719-1.879 0-2.598.182-.18.387-.316.605-.406V8.835c-.217-.091-.424-.222-.6-.401-.545-.545-.678-1.342-.396-2.009L7.611 3.527 4.645 6.491c-.603.605-.603 1.585 0 2.189l10.48 10.477c.604.604 1.582.604 2.186 0l6.232-6.227c.605-.603.605-1.582 0-2.187z" />
                    </svg>
                  )}
                  {tech.icon === "docker" && (
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M13.983 11.078h2.119a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.119a.185.185 0 00-.185.185v1.888c0 .102.083.185.185.185m-2.954-5.43h2.118a.186.186 0 00.186-.186V3.574a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.186m0 2.716h2.118a.187.187 0 00.186-.186V6.29a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.887c0 .102.082.185.185.186m-2.93 0h2.12a.186.186 0 00.184-.186V6.29a.185.185 0 00-.185-.185H8.1a.185.185 0 00-.185.185v1.887c0 .102.083.185.185.186m-2.964 0h2.119a.186.186 0 00.185-.186V6.29a.185.185 0 00-.185-.185H5.136a.186.186 0 00-.186.185v1.887c0 .102.084.185.186.186m5.893 2.715h2.118a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.185m-2.93 0h2.12a.185.185 0 00.184-.185V9.006a.185.185 0 00-.184-.186h-2.12a.185.185 0 00-.184.185v1.888c0 .102.083.185.185.185m-2.964 0h2.119a.185.185 0 00.185-.185V9.006a.185.185 0 00-.185-.186h-2.12a.186.186 0 00-.185.185v1.888c0 .102.084.185.186.185m-2.92 0h2.12a.185.185 0 00.184-.185V9.006a.185.185 0 00-.184-.186h-2.12a.185.185 0 00-.184.185v1.888c0 .102.082.185.185.185M23.763 9.89c-.065-.051-.672-.51-1.954-.51-.338.001-.676.03-1.01.087-.248-1.7-1.653-2.53-1.716-2.566l-.344-.199-.226.327c-.284.438-.49.922-.612 1.43-.23.97-.09 1.882.403 2.661-.595.332-1.55.413-1.744.42H.751a.751.751 0 00-.75.748 11.376 11.376 0 00.692 4.062c.545 1.428 1.355 2.48 2.41 3.124 1.18.723 3.1 1.137 5.275 1.137.983.003 1.963-.086 2.93-.266a12.248 12.248 0 003.823-1.389c.98-.567 1.86-1.288 2.61-2.136 1.252-1.418 1.998-2.997 2.553-4.4h.221c1.372 0 2.215-.549 2.68-1.009.309-.293.55-.65.707-1.046l.098-.288Z" />
                    </svg>
                  )}
                  {tech.icon === "graphql" && (
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M12.002 0a2.138 2.138 0 1 0 0 4.277 2.138 2.138 0 1 0 0-4.277zm8.54 4.931a2.138 2.138 0 1 0 0 4.277 2.138 2.138 0 1 0 0-4.277zm0 9.862a2.138 2.138 0 1 0 0 4.277 2.138 2.138 0 1 0 0-4.277zm-8.54 4.931a2.138 2.138 0 1 0 0 4.276 2.138 2.138 0 1 0 0-4.276zm-8.542-4.93a2.138 2.138 0 1 0 0 4.276 2.138 2.138 0 1 0 0-4.277zm0-9.863a2.138 2.138 0 1 0 0 4.277 2.138 2.138 0 1 0 0-4.277zM1.996 6.138l8.542 4.93v9.863l-8.542-4.93V6.138zm9.706-5.793l8.542 4.93-8.542 4.93-8.542-4.93 8.542-4.93zm9.706 5.793v9.863l-8.542 4.93V11.068l8.542-4.93zm-9.706 15.656l-8.542-4.93 8.542-4.93 8.542 4.93-8.542 4.93z" />
                    </svg>
                  )}
                  {tech.icon === "nextjs" && (
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M11.572 0c-.176 0-.31.001-.358.007a19.76 19.76 0 0 1-.364.033C7.443.346 4.25 2.185 2.228 5.012a11.875 11.875 0 0 0-2.119 5.243c-.096.659-.108.854-.108 1.747s.012 1.089.108 1.748c.652 4.506 3.86 8.292 8.209 9.695.779.25 1.6.422 2.534.525.363.04 1.935.04 2.299 0 1.611-.178 2.977-.577 4.323-1.264.207-.106.247-.134.219-.158-.02-.013-.9-1.193-1.955-2.62l-1.919-2.592-2.404-3.558a338.739 338.739 0 0 0-2.422-3.556c-.009-.002-.018 1.579-.023 3.51-.007 3.38-.01 3.515-.052 3.595a.426.426 0 0 1-.206.214c-.075.037-.14.044-.495.044H7.81l-.108-.068a.438.438 0 0 1-.157-.171l-.05-.106.006-4.703.007-4.705.072-.092a.645.645 0 0 1 .174-.143c.096-.047.134-.051.54-.051.478 0 .558.018.682.154.035.038 1.337 1.999 2.895 4.361a10760.433 10760.433 0 0 0 4.735 7.17l1.9 2.879.096-.063a12.317 12.317 0 0 0 2.466-2.163 11.944 11.944 0 0 0 2.824-6.134c.096-.66.108-.854.108-1.748 0-.893-.012-1.088-.108-1.747-.652-4.506-3.859-8.292-8.208-9.695a12.597 12.597 0 0 0-2.499-.523A33.119 33.119 0 0 0 11.572 0zm4.069 7.217c.347 0 .408.005.486.047a.473.473 0 0 1 .237.277c.018.06.023 1.365.018 4.304l-.006 4.218-.744-1.14-.746-1.14v-3.066c0-1.982.01-3.097.023-3.15a.478.478 0 0 1 .233-.296c.096-.05.13-.054.5-.054z" />
                    </svg>
                  )}
                  {tech.icon === "vue" && (
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M24 1.61h-9.94L12 5.16 9.94 1.61H0l12 20.78ZM12 14.08 5.16 2.23h4.43L12 7.36l2.41-5.13h4.43Z" />
                    </svg>
                  )}
                  {tech.icon === "python" && (
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M9.585 11.692h4.328s2.432.039 2.432-2.35V5.391S16.714 3 11.936 3C7.362 3 7.647 4.983 7.647 4.983l.006 2.055h4.363v.617H5.92s-2.927-.332-2.927 4.282 2.555 4.45 2.555 4.45h1.524v-2.141s-.083-2.554 2.513-2.554zm-.056-5.74a.784.784 0 1 1 0-1.57.784.784 0 1 1 0 1.57z" />
                      <path d="M18.452 7.532h-1.524v2.141s.083 2.554-2.513 2.554h-4.328s-2.432-.04-2.432 2.35v3.951s-.369 2.391 4.409 2.391c4.573 0 4.288-1.983 4.288-1.983l-.006-2.054h-4.363v-.617h6.097s2.927.332 2.927-4.282-2.555-4.451-2.555-4.451zm-3.981 10.436a.784.784 0 1 1 0 1.57.784.784 0 1 1 0-1.57z" />
                    </svg>
                  )}
                </div>
                <span class="tech-name">{tech.name}</span>
              </div>
            ))
          }
        </div>
      </div>

      <!-- Gradient Overlays -->
      <div class="marquee-overlay-left"></div>
      <div class="marquee-overlay-right"></div>
    </div>

    <!-- Bento Grid -->
    <div class="bento-grid reveal-on-scroll">
      <div class="bento-card bento-card-large">
        <div class="bento-icon">
          <svg
            fill="none"
            height="32"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            width="32"
          >
            <path d="M12 2L2 7l10 5 10-5-10-5z"></path>
            <path d="M2 17l10 5 10-5"></path>
            <path d="M2 12l10 5 10-5"></path>
          </svg>
        </div>
        <h3 class="bento-title">Frontend Architecture</h3>
        <p class="bento-description">
          Building scalable component systems with modern frameworks and design
          patterns.
        </p>
      </div>
      <div class="bento-card">
        <div class="bento-icon">
          <svg
            fill="none"
            height="24"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            width="24"
          >
            <rect height="18" rx="2" width="18" x="3" y="3"></rect>
            <path d="M3 9h18"></path>
            <path d="M9 21V9"></path>
          </svg>
        </div>
        <h3 class="bento-title">UI/UX Design</h3>
        <p class="bento-description">
          Crafting intuitive interfaces with attention to detail.
        </p>
      </div>
      <div class="bento-card">
        <div class="bento-icon">
          <svg
            fill="none"
            height="24"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            width="24"
          >
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10"></path>
            <path d="m9 12 2 2 4-4"></path>
          </svg>
        </div>
        <h3 class="bento-title">Performance</h3>
        <p class="bento-description">
          Optimizing for speed, accessibility, and user experience.
        </p>
      </div>
      <div class="bento-card">
        <div class="bento-icon">
          <svg
            fill="none"
            height="24"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            width="24"
          >
            <path d="m8 3 4 8 5-5 5 15H2L8 3z"></path>
          </svg>
        </div>
        <h3 class="bento-title">Modern Stack</h3>
        <p class="bento-description">
          Working with cutting-edge technologies and best practices.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  /* Section Header */
  .section-header {
    text-align: center;
    max-width: 600px;
    margin: 0 auto var(--space-16);
  }

  .section-label {
    display: inline-flex;
    align-items: center;
    gap: var(--space-2);
    font-family: var(--font-mono);
    font-size: var(--text-sm);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--color-accent);
    margin-bottom: var(--space-4);
  }

  .section-label::before {
    content: "";
    width: 24px;
    height: 2px;
    background: linear-gradient(90deg, var(--color-accent), transparent);
  }

  .section-title {
    font-family: var(--font-display);
    font-size: var(--text-4xl);
    font-weight: 700;
    color: var(--color-text-primary);
    margin-bottom: var(--space-4);
    letter-spacing: -0.02em;
  }

  @media (min-width: 768px) {
    .section-title {
      font-size: var(--text-5xl);
    }
  }

  .section-description {
    font-size: var(--text-lg);
    color: var(--color-text-secondary);
    margin: 0;
  }

  /* Marquee Container */
  .marquee-container {
    position: relative;
    margin-bottom: var(--space-16);
  }

  .marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--space-6);
    mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }

  .marquee-content {
    flex-shrink: 0;
    display: flex;
    gap: var(--space-6);
    animation: marquee 30s linear infinite;
  }

  .marquee:hover .marquee-content {
    animation-play-state: paused;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-50% - var(--space-6) / 2));
    }
  }

  /* Tech Card */
  .tech-card {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    padding: var(--space-4) var(--space-6);
    background: var(--color-bg-secondary);
    border-radius: var(--radius-xl);
    border: 1px solid transparent;
    transition: all var(--transition-base);
    cursor: default;
  }

  .tech-card:hover {
    border-color: var(--color-accent);
    transform: translateY(-4px);
    box-shadow: 0 10px 30px rgba(37, 99, 235, 0.15);
  }

  @media (prefers-color-scheme: dark) {
    .tech-card {
      background: var(--color-bg-tertiary);
    }
  }

  .tech-icon {
    width: 32px;
    height: 32px;
    color: var(--color-accent);
  }

  .tech-icon svg {
    width: 100%;
    height: 100%;
  }

  .tech-name {
    font-family: var(--font-display);
    font-weight: 500;
    font-size: var(--text-base);
    color: var(--color-text-primary);
    white-space: nowrap;
  }

  /* Bento Grid */
  .bento-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-4);
  }

  @media (min-width: 640px) {
    .bento-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .bento-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .bento-card-large {
      grid-column: span 2;
      grid-row: span 2;
    }
  }

  .bento-card {
    padding: var(--space-6);
    background: var(--color-bg-secondary);
    border-radius: var(--radius-xl);
    transition: all var(--transition-base);
  }

  .bento-card:hover {
    transform: translateY(-4px);
    box-shadow: var(--box-shadow);
  }

  @media (prefers-color-scheme: dark) {
    .bento-card {
      background: var(--color-bg-tertiary);
    }
  }

  .bento-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: rgba(37, 99, 235, 0.1);
    border-radius: var(--radius-lg);
    color: var(--color-accent);
    margin-bottom: var(--space-4);
  }

  .bento-title {
    font-family: var(--font-display);
    font-size: var(--text-xl);
    font-weight: 600;
    color: var(--color-text-primary);
    margin-bottom: var(--space-2);
  }

  .bento-description {
    font-size: var(--text-base);
    color: var(--color-text-secondary);
    margin: 0;
    line-height: 1.6;
  }
</style>
