---
import { Image } from "astro:assets";

type Props = {
  logo: string;
  title: string;
  url: string;
};

const { logo, title, url } = Astro.props;
---

<a href={url} rel="noreferrer noopener" target="_blank">
  <Image
    alt={title}
    height={50}
    src={logo}
    style={{ margin: "16px" }}
    width={50}
  />
</a>

<style>
  a {
    text-decoration: none;
  }
</style>
